<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" > 
<suite name="suite1">
	<test name="test1">
		<classes> 
			<class name="GroupFive.testcases.LoginTest" />
		</classes>
	</test>
	<listeners>
			<listener class-name="org.uncommons.reportng.HTMLReporter" />
		    <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		    <listener class-name="GroupFive.utils.RetryListener" />
		    <listener class-name="GroupFive.utils.TestNGListener" /> 
	</listeners>
</suite>